/* stylelint-disable rule-empty-line-before */
@font-face {
   font-display: swap;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400, 700;
   src: url('../fonts/font-inter.woff') format('woff'),
      url('../fonts/font-inter.woff2') format('woff2');
}

html {
   font-size: 10px;
}

body {
   font-size: 1.6rem;
}

h1,
h2,
h3 {
   margin: 0;
}

p {
   margin: 0;
}

figure {
   margin: 0;
}

a {
   text-decoration: none;
}

button {
   border: none;
   outline: none;
   padding: 0;
}

:root {
   --App--lightTheme: hsl(0, 0%, 100%);
   --App--darkTheme: hsl(230, 17%, 14%);
   --Card-background: hsl(225, 100%, 98%);
   --Card-onHover-background: hsl(227, 47%, 96%);
   --Card-onHover-darkBackground: hsl(240, 51%, 45%);
   --Card-spaceTop: 0.3rem;
   --Card-height: 20rem;
   --Card--facebook-backgroundColor: hsl(208, 92%, 53%);
   --Card--twitter-backgroundColor: hsl(203, 89%, 53%);
   --Card--instagram-backgroundGradient: hsl(37, 97%, 70%), hsl(329, 70%, 58%);
   --Card--youTube--backgroundColor: hsl(348, 97%, 39%);
   --Card-audienceEvolution--up-color: hsl(163, 72%, 41%);
   --Card-audienceEvolution--down-color: hsl(356, 69%, 56%);
   --ThemeSwitcher--dark: hsl(210, 78%, 56%), hsl(146, 68%, 55%);
   --ThemeSwitcher--light: hsl(230, 22%, 74%);
   --ThemeSwitcher-rounded: 1.2rem;
   --ThemeSwitcher-size: 2rem;
   --veryDarkBlue: hsl(230, 17%, 14%);
   --textDarkBlue: hsl(230, 17%, 14%);
   --textGrayishBlue: hsl(228, 12%, 44%);
   --textDesaturedBlue: hsl(228, 34%, 66%);
   --backgroundDarkBlue: hsl(228, 28%, 20%);
   --veryDarkBlue: hsl(232, 19%, 15%);
   --textWhite: hsl(0, 0%, 100%);
   --fontInter: 'Inter', sans-serif;
   --textAmount: 4.8rem;
   --textTitle: 2.4rem;
   --textSmall: 1.4rem;
   --spacing: 2rem;
   --rounded: 0.4rem;
   --fontMedium: 700;
}

.u-text-grayish-blue {
   color: var(--textGrayishBlue);
}

.u-font-medium {
   font-weight: var(--fontMedium);
}

.u-text-medium {
   font-size: var(--textTitle);
}

.u-text-small {
   font-size: var(--textSmall);
}
.u-relative {
   position: relative;
}

.App {
   background-color: var(--App--lightTheme);
   font-family: var(--fontInter);
   min-height: 100vh;
   padding: var(--spacing);
   transition: background 0.4s ease-in-out;
}
.App--darkTheme {
   background-color: var(--App--darkTheme);
}
.App-inner {
   margin-left: auto;
   margin-right: auto;
   max-width: 40rem;
}

@media screen and (min-width: 1024px) {
   .App-inner {
      max-width: 1200px;
      width: 90%;
   }
}

.Header {
   margin-bottom: calc(var(--spacing) * 2);
}

.Header-title {
   color: var(--textDarkBlue);
   font-size: var(--textTitle);
   font-weight: var(--fontMedium);
   transition: color 0.4s ease-in-out;
}
.App--darkTheme .Header-title {
   color: var(--textWhite);
}

.Header-totalFollowers {
   border-bottom: 1px solid var(--textDarkBlue);
   color: var(--textDarkBlue);
   display: block;
   font-size: var(--textSmall);
   padding-bottom: var(--spacing);
   transition: color 0.4s ease-in-out;
}

.App--darkTheme .Header-totalFollowers {
   border-bottom-color: var(--textDesaturedBlue);
   color: var(--textDesaturedBlue);
}

.ThemeSwitcher {
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding-top: var(--spacing);
}
.ThemeSwitcher-text {
   color: var(--textDarkBlue);
   font-size: var(--text-size);
   font-weight: var(--fontMedium);
   transition: color 0.4s ease-in-out;
}
.App--darkTheme .ThemeSwitcher-text {
   color: var(--textDesaturedBlue);
}
.ThemeSwitcher-label {
   background-color: var(--ThemeSwitcher--light);
   border-radius: var(--ThemeSwitcher-rounded);
   height: var(--ThemeSwitcher-size);
   position: relative;
   width: calc(var(--ThemeSwitcher-size) * 2);
}
.ThemeSwitcher-checkbox {
   height: 0;
   visibility: hidden;
   width: 0;
}

.ThemeSwitcher-label::after {
   background-color: var(--textWhite);
   border-radius: var(--ThemeSwitcher-rounded);
   content: '';
   height: calc(var(--ThemeSwitcher-size) * 4 / 5);
   position: absolute;
   right: calc(var(--ThemeSwitcher-size) / 10);
   top: calc(var(--ThemeSwitcher-size) / 10);
   transition: all 0.5s ease-in-out;
   width: calc(var(--ThemeSwitcher-size) * 4 / 5);
}
.ThemeSwitcher-checkbox:checked + .ThemeSwitcher-label {
   background-image: linear-gradient(to right, var(--ThemeSwitcher--dark));
}
.ThemeSwitcher-checkbox:checked + .ThemeSwitcher-label::after {
   background-color: var(--veryDarkBlue);
   right: calc(100% - var(--ThemeSwitcher-size) / 10);
   transform: translateX(100%);
}
.ThemeSwitcher-label:active::after {
   width: calc(var(--ThemeSwitcher-size) + 1.5rem);
}

@media screen and (min-width: 1024px) {
   .Header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-top: 6rem;
   }
   .Header-totalFollowers {
      border-bottom: none;
   }
   .ThemeSwitcher {
      padding-top: 0;
   }
   .ThemeSwitcher-text {
      margin-right: 1rem;
   }
}
.Main {
   margin-bottom: calc(var(--spacing) * 2);
}

@media screen and (min-width: 1024px) {
   .Dashboard {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(4, 1fr);
   }
}
.Card {
   background-color: var(--Card-background);
   border-radius: var(--rounded);
   height: var(--Card-height);
   margin-bottom: var(--spacing);
}

.Card--flex {
   align-items: flex-end;
   display: flex;
}

.Card--medium {
   height: calc(var(--Card-height) / 2);
}

.Card-button {
   align-items: center;
   background-color: var(--Card-background);
   border-radius: inherit;
   height: calc(100% - var(--Card-spaceTop));
   transition: background 0.4s ease-in-out;
   width: 100%;
}
.card-button--h100 {
   height: 100%;
}

.App--darkTheme .Card-button {
   background-color: var(--backgroundDarkBlue);
}
.Card-button--flex {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.Card--facebook {
   background-color: var(--Card--facebook-backgroundColor);
}

.Card--twitter {
   background-color: var(--Card--twitter-backgroundColor);
}

.Card--instagram {
   background-image: linear-gradient(
      to right,
      var(--Card--instagram-backgroundGradient)
   );
}

.Card--youtube {
   background-color: var(--Card--youTube--backgroundColor);
}

.Card-socialMedia {
   align-items: center;
   display: flex;
}

.Card-nickname {
   font-size: var(--textSmall);
   margin-left: 0.6rem;
   transition: color 0.4s ease-in-out;
}
.App--darkTheme .Card-nickname {
   color: var(--textDesaturedBlue);
}

.Card-audience {
   display: inline-flex;
   flex-direction: column;
}

.Card-audienceAmount {
   font-size: var(--textAmount);
   font-weight: var(--fontMedium);
   transition: color 0.4s ease-in-out;
}
.App--darkTheme .Card-audienceAmount {
   color: var(--textWhite);
}

.Card-audienceType {
   color: var(--textGrayishBlue);
   font-size: var(--textSmall);
   letter-spacing: 0.3rem;
   text-transform: uppercase;
}

.Card-audienceEvolution,
.Card-percent {
   font-size: var(--textSmall);
   transition: color 0.4s ease-in-out;
}
.Card-amount {
   transition: color 0.4s ease-in-out;
}
.App--darkTheme .Card-audienceEvolution,
.App--darkTheme .Card-amount {
   color: var(--textWhite);
}

.Card-audienceEvolution--up,
.Card-audienceEvolution--down,
.Card-percent--up,
.Card-percent--down {
   position: relative;
}

.Card-audienceEvolution--up,
.Card-percent--up {
   color: var(--Card-audienceEvolution--up-color);
}

.Card-audienceEvolution--down,
.Card-percent--down {
   color: var(--Card-audienceEvolution--down-color);
}

.Card-audienceEvolution--up::before,
.Card-audienceEvolution--down::before,
.Card-percent--up::before,
.Card-percent--down::before {
   background-repeat: no-repeat;
   background-size: cover;
   content: '';
   height: 5px;
   position: absolute;
   width: 10px;
}

.Card-audienceEvolution--up::before,
.Card-audienceEvolution--down::before {
   left: -1.5rem;
   top: 0.7rem;
}

.Card-percent--up::before,
.Card-percent--down::before {
   right: 110%;
   top: 50%;
}

.Card-audienceEvolution--up::before,
.Card-percent--up::before {
   background-image: url('../images/icon-up.svg');
}

.Card-audienceEvolution--down::before,
.Card-percent--down::before {
   background-image: url('../images/icon-down.svg');
}

.Overview-title {
   color: var(--textGrayishBlue);
   font-size: var(--textTitle);
   margin-bottom: var(--spacing);
   transition: color 0.4s ease-in-out;
}
@media screen and (min-width: 1024px) {
   .Overview-inner {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(4, 1fr);
   }
}
.App--darkTheme .Overview-title {
   color: var(--textWhite);
}

.Card-left,
.Card-right {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   position: absolute;
   top: 2rem;
}
.Card-left {
   left: 2rem;
   text-align: left;
}
.Card-right {
   right: 2rem;
   text-align: right;
}

.Footer {
   font-size: 1.1rem;
   text-align: center;
}

@media screen and (min-width: 1024px) {
   .Footer {
      bottom: 0;
      left: 0;
      position: fixed;
      text-align: center;
      width: 100%;
   }
}
.Footer-link {
   color: var(--textGrayishBlue);
}

@media (hover: hover) {
   .ThemeSwitcher-label:hover {
      cursor: pointer;
   }
   .Card-button:hover {
      background-color: var(--Card-onHover-background);
      cursor: pointer;
   }
   .App--darkTheme .Card-button:hover {
      background-color: var(--Card-onHover-darkBackground);
   }
   .Footer-link:hover {
      cursor: pointer;
   }
}
